apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: tuning-sensor
  namespace: ${NAMESPACE}
spec:
  dependencies:
    - name: tuning-webhook-triggered
      eventSourceName: tuning-webhook
      eventName: tuning-trigger
  triggers:
    - template:
        name: tuning-trigger
        argoWorkflow:
          operation: submit
          source:
            resource:
              apiVersion: argoproj.io/v1alpha1
              kind: Workflow
              metadata:
                generateName: tuning-pipeline-
                namespace: ${NAMESPACE}
              spec:
                workflowTemplateRef:
                  name: tuning-pipeline
