kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: okta-po-svc-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: po-svc-reader
subjects:
- kind: Group
  name: ${GROUP_NAME}