apiVersion: apiserver.config.k8s.io/v1beta1
kind: AuthenticationConfiguration
jwt:
  - issuer:
      url: ${ISSUER_URL}
      audiences:
        - ${CLIENT_ID}
    claimMappings:
      username:
        claim: "email"
        prefix: ""
      groups:
        claim: "groups"
        prefix: ""
